* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #212121;
  max-width: 1400px; }

.dark-canvas {
  display: none;
  background: black;
  opacity: 0.75;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 5;
  top: 0; }

.main_nav {
  background: black;
  box-shadow: 0px 0px 5px 4px #000;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 4px;
  z-index: 4; }

.action_list_main {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 0;
  overflow: hidden;
  background: black; }

.navigation-link {
  text-decoration: none;
  color: gray; }

.navigation-link:active {
  color: gray; }

.navigation-link:hover {
  transition: color 2s;
  color: white;
  text-decoration: none; }

.action_option_main {
  display: inline;
  text-transform: uppercase;
  color: gray;
  font-family: 'Monda', sans-serif;
  font-size: 1.7vw; }

.action_option_main:hover {
  transition: color 2s;
  color: white;
  cursor: pointer; }

.empire-logo {
  width: 170px;
  height: auto;
  position: relative;
  right: 15px;
  top: 2px; }

.empire-logo-small {
  display: none;
  margin-top: 4px; }

.vertical-separator {
  width: 2px;
  background-color: #333;
  border-left: 2px solid #2F2F2F;
  display: inline-block;
  height: 2.3vw;
  margin: 0 10px; }

.navbar-button {
  background: black;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0; }

@media only screen and (max-width: 650px) {
  .action_option_main {
    font-size: 2.3vw; } }
@media only screen and (max-width: 600px) {
  .decoration-images-container {
    height: 250px; } }
@media only screen and (max-width: 580px) {
  .empire-logo {
    display: none; }

  .empire-logo-small {
    display: block; } }
@media only screen and (max-width: 450px) {
  .vertical-separator {
    height: 3.8vw;
    margin: 0 4px; }

  .action_option_main {
    font-size: 2.9vw; } }
.porn-empire-footer {
  background: black;
  text-align: center;
  border-top: 1px solid #660000;
  border-bottom: 1px solid #660000;
  margin-bottom: 30px;
  font-family: 'Play', sans-serif; }

.footer-contact-data {
  padding: 4px; }

.footer-link:hover {
  text-decoration: underline; }

.footer-link:visited {
  color: white; }

.footer-link:active {
  color: white; }

.cybertron-copyrights {
  padding: 8px;
  font-size: 25px;
  color: white; }

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 21px; }

.login-container {
  width: 350px;
  border-radius: 8px;
  border: 2px solid silver;
  background: #212121;
  font-size: 0;
  display: none;
  position: fixed;
  z-index: 6;
  opacity: 0; }

.close-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
  overflow: hidden;
  color: transparent;
  background: url("/images/controls/close.svg") no-repeat center;
  background-size: cover; }

.close-icon-container {
  padding: 4px 7px;
  background: black;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  justify-content: flex-end; }

.user-input {
  width: calc(100% - 70px);
  background: black;
  border: none;
  color: white;
  font-size: 17px;
  padding-left: 4px; }

.user-input:focus {
  outline: none; }

.submit-button {
  background: linear-gradient(#0bdf0b, #2f8804); }

.submit-button:hover {
  background: #CAE009;
  transition: background 1s; }

.register {
  background: linear-gradient(#FA0511, #AD0205);
  text-decoration: none; }

.register:hover {
  background: #D10722;
  transition: background 1s; }

.user-account-action {
  width: 95%;
  display: block;
  margin: 9px auto;
  color: white;
  font-size: 22px;
  font-family: 'Lalezar', sans-serif;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 2px 2px black; }

.user-input-label {
  border-radius: 3px;
  border: 2px solid gray;
  display: block;
  width: 95%;
  margin: 10px auto;
  color: #C6C6C6;
  font-family: 'Lalezar', sans-serif;
  font-size: 20px;
  padding-left: 5px;
  background: black;
  box-shadow: 2px 2px 2px 2px black; }

.all-categories-header {
  font-family: 'Baloo Da', sans-serif;
  font-size: 24px;
  color: white;
  margin-top: 60px;
  text-align: center;
  font-weight: 100; }

.set-of-categories {
  border-radius: 5px;
  border: 1px solid silver;
  width: 90%;
  margin: 0 auto;
  background: black;
  margin-bottom: 35px; }

.category-letter {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Baloo Da', sans-serif;
  color: white;
  font-size: 23px; }

.categories-flex-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.category-image-all {
  border-radius: 7px;
  display: inline-block;
  margin: 8px 4px 2px;
  width: 100px;
  height: 100px;
  border: 1px solid silver;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.category-image-all:hover {
  transition: 2.5s 1s transform, 0s 1s z-index;
  transform: scale(1.4);
  border: 1px solid red;
  z-index: 99; }

.category-description {
  text-align: center;
  font-size: 13px;
  font-family: "Monda",sans-serif;
  background: rgba(0, 0, 0, 0.5);
  line-height: 13px;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0px;
  border-radius: 0 0 4px 4px; }

.red-separator {
  height: 2px;
  background-color: red;
  box-shadow: 1px 1px 6px 0px red; }

.anal {
  background-image: url("/images/decoration/categories/anal.jpg"); }

.amateur {
  background-image: url("/images/decoration/categories/amateur.jpg"); }

.asian {
  background-image: url("/images/decoration/categories/asian.jpg"); }

.american {
  background-image: url("/images/decoration/categories/american.jpg"); }

.blondes {
  background-image: url("/images/decoration/categories/blondes.jpg"); }

.brunettes {
  background-image: url("/images/decoration/categories/brunettes.jpg"); }

.bukkake {
  background-image: url("/images/decoration/categories/bukkake.jpg"); }

.white {
  background-image: url("/images/decoration/categories/white.jpg"); }

.blowbang {
  background-image: url("/images/decoration/categories/blowbang.jpg"); }

.whips {
  background-image: url("/images/decoration/categories/whips.jpg"); }

.office {
  background-image: url("/images/decoration/categories/office.jpg"); }

.czech {
  background-image: url("/images/decoration/categories/czech.jpg"); }

.skinny {
  background-image: url("/images/decoration/categories/skinny.jpg"); }

.big-titts {
  background-image: url("/images/decoration/categories/big-titts.jpg"); }

.big-ass {
  background-image: url("/images/decoration/categories/big-ass.jpg"); }

.hookers {
  background-image: url("/images/decoration/categories/hookers.jpg"); }

.gangbang {
  background-image: url("/images/decoration/categories/gangbang.jpg"); }

.group {
  background-image: url("/images/decoration/categories/group.jpg"); }

.pornstars {
  background-image: url("/images/decoration/categories/pornstars.jpg"); }

.japanese {
  background-image: url("/images/decoration/categories/japanese.jpg"); }

.solo-woman {
  background-image: url("/images/decoration/categories/solo-woman.jpg"); }

.cumshot-compilation {
  background-image: url("/images/decoration/categories/cumshot-compilation.jpg"); }

.femdom {
  background-image: url("/images/decoration/categories/femdom.jpg"); }

.latin {
  background-image: url("/images/decoration/categories/latinas.jpg"); }

.lesbians {
  background-image: url("/images/decoration/categories/lesbians.jpg"); }

.blowjob {
  background-image: url("/images/decoration/categories/blowjob.jpg"); }

.latex {
  background-image: url("/images/decoration/categories/latex.jpg"); }

.bathroom {
  background-image: url("/images/decoration/categories/bathroom.jpg"); }

.nature {
  background-image: url("/images/decoration/categories/nature.jpg"); }

.public {
  background-image: url("/images/decoration/categories/public.jpg"); }

.milf {
  background-image: url("/images/decoration/categories/milfs.jpg"); }

.ebony {
  background-image: url("/images/decoration/categories/ebony.jpg"); }

.small-titts {
  background-image: url("/images/decoration/categories/small-titts.jpg"); }

.small-ass {
  background-image: url("/images/decoration/categories/small-ass.jpg"); }

.pussy-licking {
  background-image: url("/images/decoration/categories/pussy-licking.jpg"); }

.tittfuck {
  background-image: url("/images/decoration/categories/tittfuck.jpg"); }

.teens {
  background-image: url("/images/decoration/categories/teens.jpg"); }

.slaves {
  background-image: url("/images/decoration/categories/slaves.jpg"); }

.teacher {
  background-image: url("/images/decoration/categories/teacher.jpg"); }

.german {
  background-image: url("/images/decoration/categories/german.jpg"); }

.glasses {
  background-image: url("/images/decoration/categories/glasses.jpg"); }

.hairy-pussy {
  background-image: url("/images/decoration/categories/hairy-pussy.jpg"); }

.POV {
  background-image: url("/images/decoration/categories/POV.jpg"); }

.polish {
  background-image: url("/images/decoration/categories/polish.jpg"); }

.cum-swallow {
  background-image: url("/images/decoration/categories/cum-swallow.jpg"); }

.stockings {
  background-image: url("/images/decoration/categories/stockings.jpg"); }

.nurse {
  background-image: url("/images/decoration/categories/nurses.jpg"); }

.beach {
  background-image: url("/images/decoration/categories/beach.jpg"); }

.police {
  background-image: url("/images/decoration/categories/police.jpg"); }

.double-penetration {
  background-image: url("/images/decoration/categories/double-penetration.jpg"); }

.russian {
  background-image: url("/images/decoration/categories/russian.jpg"); }

.redhead {
  background-image: url("/images/decoration/categories/redhead.jpg"); }

.pantyhose {
  background-image: url("/images/decoration/categories/pantyhose.jpg"); }

.high-heels {
  background-image: url("/images/decoration/categories/high-heels.jpg"); }

.handjob {
  background-image: url("/images/decoration/categories/handjob.jpg"); }

.school {
  background-image: url("/images/decoration/categories/school.jpg"); }

.pain {
  background-image: url("/images/decoration/categories/pain.jpg"); }

.feet {
  background-image: url("/images/decoration/categories/feet.jpg"); }

.car {
  background-image: url("/images/decoration/categories/car.jpg"); }

.boss {
  background-image: url("/images/decoration/categories/boss.jpg"); }

.secretary {
  background-image: url("/images/decoration/categories/secretary.jpg"); }

.gym {
  background-image: url("/images/decoration/categories/gym.jpg"); }

.spycam {
  background-image: url("/images/decoration/categories/spycam.jpg"); }

.pupils {
  background-image: url("/images/decoration/categories/pupils.jpg"); }

.big-cock {
  background-image: url("/images/decoration/categories/big-cock.jpg"); }

.elevator {
  background-image: url("/images/decoration/categories/elevator.jpg"); }

.cum-on-face {
  background-image: url("/images/decoration/categories/cum-on-face.jpg"); }

.cum-on-titts {
  background-image: url("/images/decoration/categories/cum-on-titts.jpg"); }

.creampie {
  background-image: url("/images/decoration/categories/creampie.jpg"); }

.cum-on-pussy {
  background-image: url("/images/decoration/categories/cum-on-pussy.jpg"); }

.cum-in-ass {
  background-image: url("/images/decoration/categories/cum-in-ass.jpg"); }

.cum-on-ass {
  background-image: url("/images/decoration/categories/cum-on-ass.jpg"); }

.cum-on-feet {
  background-image: url("/images/decoration/categories/cum-on-feet.jpg"); }

.nun {
  background-image: url("/images/decoration/categories/nun.jpg"); }

.wives {
  background-image: url("/images/decoration/categories/wives.jpg"); }

/*# sourceMappingURL=all-categories.css.map */
