
input[type=range].progressbar-video {
  -webkit-appearance: none;
  width: 100%;
  margin: 6px 0;
}
input[type=range].progressbar-video:focus {
  outline: none;
}
input[type=range].progressbar-video::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fffcfd;
  border-radius: 2px;
  border: 0.3px solid #010101;
}
input[type=range].progressbar-video::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 14px;
  border-radius: 4px;
  background: #f7031f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.3px;
}
input[type=range].progressbar-video:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range].progressbar-video::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fffcfd;
  border-radius: 2px;
  border: 0.3px solid #010101;
}
input[type=range].progressbar-video::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 14px;
  border-radius: 4px;
  background: #f7031f;
  cursor: pointer;
}
input[type=range].progressbar-video::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].progressbar-video::-ms-fill-lower {
  background: #ffe3ec;
  border: 0.3px solid #010101;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].progressbar-video::-ms-fill-upper {
  background: #fffcfd;
  border: 0.3px solid #010101;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].progressbar-video::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 14px;
  border-radius: 4px;
  background: #f7031f;
  cursor: pointer;
  height: 8px;
}
input[type=range].progressbar-video:focus::-ms-fill-lower {
  background: #fffcfd;
}
input[type=range].progressbar-video:focus::-ms-fill-upper {
  background: #ffffff;
}

.movie-magnifier-container
{
  font-size:0;
  width:404px;
  display:none;
  position:fixed;
  top: 100px;
  z-index:6;
}

.current-frame
{
 border: 2px solid #380414;
 border-radius: 4px;
 width:404px;
 height:auto;
}

.magnifier-progressbar-container
{
 display:flex;
 border: 2px solid #333;
 background:black;
 border-radius: 4px;
 padding-left:4px;
}

.close-movie-magnifier
{
  flex-basis:20px;
  height:20px;
  cursor:pointer;
  margin-left: 4px;
}

.pornstar-list
{
  border: 2px solid #E5E4E2;
  font-size: 14px;
  font-family: 'Monda', sans-serif;
  background: black;
  color:white;
  border-radius: 4px;
  padding: 1px 2px;
}

.star-icon
{
  width: 19px;
  height: auto;  
  margin-right: 3px;
  top: 3px;
  position: relative;
}

.pornstar-name
{
  margin: 0 3px;	
}

.pornstar-name:hover
{
 text-decoration: underline;
cursor:pointer; 
}

.pornstar-preview-container
{
 width:164px;
 position:fixed;
 z-index: 7;
 font-size:0;
 display:none;
 box-shadow: 3px 3px 3px 2px black;
}

.pornstar-name-header
{
 text-align:center;
 border: 2px solid #E5E4E2;
 font-size: 20px;
 font-family: 'Baloo Da', sans-serif;
 color:red;
 background: rgba(0,0,0,0.7);
 border-radius: 3px;
}

.pornstar-photo
{
  border: 2px solid #E80E39;
  border-radius:3px;
}





