* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #212121;
  max-width: 1400px; }

.dark-canvas {
  display: none;
  background: black;
  opacity: 0.75;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 5;
  top: 0; }

.main_nav {
  background: black;
  box-shadow: 0px 0px 5px 4px #000;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 4px;
  z-index: 4; }

.action_list_main {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 0;
  overflow: hidden;
  background: black; }

.navigation-link {
  text-decoration: none;
  color: gray; }

.navigation-link:active {
  color: gray; }

.navigation-link:hover {
  transition: color 2s;
  color: white;
  text-decoration: none; }

.action_option_main {
  display: inline;
  text-transform: uppercase;
  color: gray;
  font-family: 'Monda', sans-serif;
  font-size: 1.7vw; }

.action_option_main:hover {
  transition: color 2s;
  color: white;
  cursor: pointer; }

.empire-logo {
  width: 170px;
  height: auto;
  position: relative;
  right: 15px;
  top: 2px; }

.empire-logo-small {
  display: none;
  margin-top: 4px; }

.vertical-separator {
  width: 2px;
  background-color: #333;
  border-left: 2px solid #2F2F2F;
  display: inline-block;
  height: 2.3vw;
  margin: 0 10px; }

.navbar-button {
  background: black;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0; }

@media only screen and (max-width: 600px) {
  .decoration-images-container {
    height: 250px; } }
@media only screen and (max-width: 580px) {
  .empire-logo {
    display: none; }

  .empire-logo-small {
    display: block; }

  .action_option_main {
    font-size: 2.7vw; } }
@media only screen and (max-width: 450px) {
  .vertical-separator {
    height: 3.8vw;
    margin: 0 4px; } }
.porn-empire-footer {
  background: black;
  text-align: center;
  border-top: 1px solid #660000;
  border-bottom: 1px solid #660000;
  margin-bottom: 30px;
  font-family: 'Play', sans-serif; }

.footer-contact-data {
  padding: 4px; }

.footer-link:hover {
  text-decoration: underline; }

.footer-link:visited {
  color: white; }

.footer-link:active {
  color: white; }

.cybertron-copyrights {
  padding: 8px;
  font-size: 25px;
  color: white; }

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 21px; }

.most-popular-categories {
  background: rgba(0, 0, 0, 0.91);
  position: absolute;
  border-radius: 4px;
  font-size: 0;
  display: none;
  height: 0;
  z-index: 3;
  margin: 0 auto; }

.categories-info {
  font-family: 'Monda', sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 4px;
  text-transform: uppercase; }

.categories-list {
  margin: 0;
  padding: 0; }

.category-list-element {
  display: inline-block; }

.horizontal-separator {
  height: 1px;
  background-color: #555; }

.category-image-all {
  border-radius: 7px;
  display: inline-block;
  margin: 8px 4px 2px;
  width: 100px;
  height: 100px;
  border: 1px solid silver;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.category-image-all:hover {
  transition: 2.5s 1s transform, 0s 1s z-index;
  transform: scale(1.4);
  border: 1px solid red;
  z-index: 99; }

.category-description {
  text-align: center;
  font-size: 13px;
  font-family: "Monda",sans-serif;
  background: rgba(0, 0, 0, 0.5);
  line-height: 13px;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0px;
  border-radius: 0 0 4px 4px; }

.categories-all {
  color: white;
  text-decoration: none; }

.categories-all:hover {
  text-decoration: underline; }

.anal {
  background-image: url("/images/decoration/categories/anal.jpg"); }

.amateur {
  background-image: url("/images/decoration/categories/amateur.jpg"); }

.asian {
  background-image: url("/images/decoration/categories/asian.jpg"); }

.blondes {
  background-image: url("/images/decoration/categories/blondes.jpg"); }

.brunettes {
  background-image: url("/images/decoration/categories/brunettes.jpg"); }

.bukkake {
  background-image: url("/images/decoration/categories/bukkake.jpg"); }

.czech {
  background-image: url("/images/decoration/categories/czech.jpg"); }

.big-titts {
  background-image: url("/images/decoration/categories/big-titts.jpg"); }

.gangbang {
  background-image: url("/images/decoration/categories/gangbang.jpg"); }

.group {
  background-image: url("/images/decoration/categories/group.jpg"); }

.japanese {
  background-image: url("/images/decoration/categories/japanese.jpg"); }

.lesbians {
  background-image: url("/images/decoration/categories/lesbians.jpg"); }

.blowjob {
  background-image: url("/images/decoration/categories/blowjob.jpg"); }

.public {
  background-image: url("/images/decoration/categories/public.jpg"); }

.latin {
  background-image: url("/images/decoration/categories/latinas.jpg"); }

.milf {
  background-image: url("/images/decoration/categories/milfs.jpg"); }

.ebony {
  background-image: url("/images/decoration/categories/ebony.jpg"); }

.teacher {
  background-image: url("/images/decoration/categories/teacher.jpg"); }

.cumshot-compilation {
  background-image: url("/images/decoration/categories/cumshot-compilation.jpg"); }

.tittfuck {
  background-image: url("/images/decoration/categories/tittfuck.jpg"); }

.solo-woman {
  background-image: url("/images/decoration/categories/solo-woman.jpg"); }

.teens {
  background-image: url("/images/decoration/categories/teens.jpg"); }

.glasses {
  background-image: url("/images/decoration/categories/glasses.jpg"); }

.POV {
  background-image: url("/images/decoration/categories/POV.jpg"); }

.cum-swallow {
  background-image: url("/images/decoration/categories/cum-swallow.jpg"); }

.nurse {
  background-image: url("/images/decoration/categories/nurses.jpg"); }

.pantyhose {
  background-image: url("/images/decoration/categories/pantyhose.jpg"); }

.russian {
  background-image: url("/images/decoration/categories/russian.jpg"); }

.redhead {
  background-image: url("/images/decoration/categories/redhead.jpg"); }

.spycam {
  background-image: url("/images/decoration/categories/spycam.jpg"); }

.polish {
  background-image: url("/images/decoration/categories/polish.jpg"); }

.big-cock {
  background-image: url("/images/decoration/categories/big-cock.jpg"); }

.cum-on-face {
  background-image: url("/images/decoration/categories/cum-on-face.jpg"); }

.creampie {
  background-image: url("/images/decoration/categories/creampie.jpg"); }

.handjob {
  background-image: url("/images/decoration/categories/handjob.jpg"); }

.login-container {
  width: 350px;
  border-radius: 8px;
  border: 2px solid silver;
  background: #212121;
  font-size: 0;
  display: none;
  position: fixed;
  z-index: 6;
  opacity: 0; }

.close-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
  overflow: hidden;
  color: transparent;
  background: url("/images/controls/close.svg") no-repeat center;
  background-size: cover; }

.close-icon-container {
  padding: 4px 7px;
  background: black;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  justify-content: flex-end; }

.user-input {
  width: calc(100% - 70px);
  background: black;
  border: none;
  color: white;
  font-size: 17px;
  padding-left: 4px; }

.user-input:focus {
  outline: none; }

.submit-button {
  background: linear-gradient(#0bdf0b, #2f8804); }

.submit-button:hover {
  background: #CAE009;
  transition: background 1s; }

.register {
  background: linear-gradient(#FA0511, #AD0205);
  text-decoration: none; }

.register:hover {
  background: #D10722;
  transition: background 1s; }

.user-account-action {
  width: 95%;
  display: block;
  margin: 9px auto;
  color: white;
  font-size: 22px;
  font-family: 'Lalezar', sans-serif;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 2px 2px black; }

.user-input-label {
  border-radius: 3px;
  border: 2px solid gray;
  display: block;
  width: 95%;
  margin: 10px auto;
  color: #C6C6C6;
  font-family: 'Lalezar', sans-serif;
  font-size: 20px;
  padding-left: 5px;
  background: black;
  box-shadow: 2px 2px 2px 2px black; }

input[type=range].progressbar-video {
  -webkit-appearance: none;
  width: 100%;
  margin: 6px 0; }

input[type=range].progressbar-video:focus {
  outline: none; }

input[type=range].progressbar-video::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fffcfd;
  border-radius: 2px;
  border: 0.3px solid #010101; }

input[type=range].progressbar-video::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 14px;
  border-radius: 4px;
  background: #f7031f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.3px; }

input[type=range].progressbar-video:focus::-webkit-slider-runnable-track {
  background: #ffffff; }

input[type=range].progressbar-video::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fffcfd;
  border-radius: 2px;
  border: 0.3px solid #010101; }

input[type=range].progressbar-video::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 14px;
  border-radius: 4px;
  background: #f7031f;
  cursor: pointer; }

input[type=range].progressbar-video::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range].progressbar-video::-ms-fill-lower {
  background: #ffe3ec;
  border: 0.3px solid #010101;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range].progressbar-video::-ms-fill-upper {
  background: #fffcfd;
  border: 0.3px solid #010101;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range].progressbar-video::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 14px;
  border-radius: 4px;
  background: #f7031f;
  cursor: pointer;
  height: 8px; }

input[type=range].progressbar-video:focus::-ms-fill-lower {
  background: #fffcfd; }

input[type=range].progressbar-video:focus::-ms-fill-upper {
  background: #ffffff; }

.progressbar-video {
  height: 8px; }

.movie-magnifier-container {
  font-size: 0;
  width: 404px;
  display: none;
  position: fixed;
  top: 100px;
  z-index: 6; }

.magnifier-icon {
  width: 28px;
  height: auto;
  position: absolute;
  right: 0;
  top: 3px; }

.magnifier-icon:hover {
  cursor: pointer; }

.current-frame {
  border: 2px solid #380414;
  border-radius: 4px;
  width: 404px;
  height: auto; }

.magnifier-progressbar-container {
  display: flex;
  border: 2px solid #333;
  background: black;
  border-radius: 4px;
  padding-left: 4px; }

.close-movie-magnifier {
  flex-basis: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 4px; }

.pornstar-list {
  border: 2px solid #E5E4E2;
  font-size: 14px;
  font-family: 'Monda', sans-serif;
  background: black;
  color: white;
  border-radius: 4px;
  padding: 1px 2px; }

.star-icon {
  width: 19px;
  height: auto;
  margin-right: 3px;
  top: 3px;
  position: relative; }

.pornstar-name {
  margin: 0 3px;
  text-decoration: none;
  color: white; }

.pornstar-name:hover {
  text-decoration: underline;
  cursor: pointer; }

.pornstar-preview-container {
  width: 164px;
  position: fixed;
  z-index: 7;
  font-size: 0;
  display: none; }

.pornstar-name-header {
  text-align: center;
  border: 2px solid #E5E4E2;
  font-size: 20px;
  font-family: 'Baloo Da', sans-serif;
  color: red;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px; }

.pornstar-photo {
  border: 2px solid #E80E39;
  border-radius: 3px; }

.pornstar-image-decoration-square {
  width: 40px;
  height: 40px;
  background: #E80E39;
  transform: rotate(45deg);
  position: fixed;
  z-index: 6; }

@media only screen and (max-width: 430px) {
  .movie-magnifier-container {
    transform: rotate(90deg); } }
.google-recaptcha {
  display: none;
  z-index: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.movies-container {
  list-style-type: none;
  margin: 0 auto;
  padding: 0; }

.new-movies {
  font-family: 'Baloo Da', sans-serif;
  color: white;
  font-size: 30px;
  padding-left: 30px;
  font-weight: normal; }

.duration {
  font-family: 'Baloo Da', sans-serif;
  line-height: 1.2;
  background: black;
  color: #FCFFEC;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px 4px;
  display: inline-block;
  position: absolute;
  right: 2px;
  top: 113px; }

.image-and-duration {
  height: 136px;
  position: relative; }

.views {
  font-family: 'Hind', sans-serif;
  font-size: 15px;
  color: #989898; }

.movie-complete {
  width: 236px;
  height: 220px;
  margin: 0 10px;
  display: inline-block;
  vertical-align: top; }

.movie-small-image {
  border: 2px solid #303030;
  border-radius: 3px; }

.movie-description {
  font-size: 14px;
  color: white;
  padding: 2px;
  font-family: 'Hind', sans-serif;
  line-height: 1.2;
  border-bottom: 1px solid #292929; }

.movie-description:hover {
  text-decoration: underline; }

.polish-flag {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 34px;
  height: 17px;
  background: linear-gradient(to bottom, white, white 50%, red 51%, red 100%); }

.additional-options {
  height: 30px;
  position: relative; }

.movie-link {
  text-decoration: none; }

.movie-progress-bar {
  position: absolute;
  top: 2px;
  left: 2px;
  display: none;
  z-index: 1; }

body {
  background: black; }

.pornstar-container {
  margin-top: 45px; }

.pornstar-information-container {
  width: 95%;
  margin: 0 auto;
  position: relative;
  bottom: 140px; }

.pornstar-image {
  background-size: cover;
  height: 50vw; }

.pornstar-image-small {
  border: 2px solid silver;
  width: 237px;
  height: 340px;
  background-size: cover;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 2px black;
  margin: 12px 12px 2px 10px;
  float: left;
  position: relative; }

.pornstar-informations {
  border-left: 3px solid #660000;
  border-bottom: 3px solid #660000;
  border-right: 3px solid #660000;
  border-top: 1px solid transparent;
  background: #212121;
  /*display:flex; 
  flex-wrap: wrap;
  justify-content: flex-start; */ }

.pornstar-section-header {
  font-size: 23px;
  font-family: 'Play', sans-serif;
  color: white;
  font-weight: bold;
  margin: 0 0 9px 0; }

.pornstar-personal-information {
  padding: 5px;
  min-height: 365px; }

.pornstar-information-detailed {
  padding: 3px; }

.pornstar-information-type {
  font-weight: bold;
  color: white;
  font-size: 16px;
  font-family: 'Play', sans-serif; }

.pornstar-information-value {
  color: #999;
  font-size: 16px;
  font-family: 'Play', sans-serif; }

.pornstar-official-website {
  text-decoration: none; }

.pornstar-official-website:hover {
  text-decoration: underline;
  color: white; }

.julia-ann-big-profile {
  background-image: url("/images/pornstars/big-images/Julia_Ann.jpg"); }

.nina-hartley-big-profile {
  background-image: url("/images/pornstars/big-images/Nina_Hartley.jpg"); }

.aletta-ocean-big-profile {
  background-image: url("/images/pornstars/big-images/Aletta_Ocean.jpg"); }

.asa-akira-big-profile {
  background-image: url("/images/pornstars/big-images/Asa_Akira.jpg"); }

.ava-addams-big-profile {
  background-image: url("/images/pornstars/big-images/Ava_Addams.jpg"); }

.alexis-texas-big-profile {
  background-image: url("/images/pornstars/big-images/Alexis_Texas.jpg"); }

.amy-anderssen-big-profile {
  background-image: url("/images/pornstars/big-images/Amy_Anderssen.jpg"); }

.ariella-ferrera-big-profile {
  background-image: url("/images/pornstars/big-images/Ariella_Ferrera.jpg"); }

.brianna-beach-big-profile {
  background-image: url("/images/pornstars/big-images/Brianna_Beach.jpg"); }

.brandi-love-big-profile {
  background-image: url("/images/pornstars/big-images/Brandi_Love.jpg"); }

.briana-banks-big-profile {
  background-image: url("/images/pornstars/big-images/Briana_Banks.jpg"); }

.casey-calvert-big-profile {
  background-image: url("/images/pornstars/big-images/Casey_Calvert.jpg"); }

.capri-cavanni-big-profile {
  background-image: url("/images/pornstars/big-images/Capri_Cavanni.jpg"); }

.deauxma-big-profile {
  background-image: url("/images/pornstars/big-images/Deauxma.jpg"); }

.diana-doll-big-profile {
  background-image: url("/images/pornstars/big-images/Diana_Doll.jpg"); }

.eva-notty-big-profile {
  background-image: url("/images/pornstars/big-images/Eva_Notty.jpg"); }

.janet-mason-big-profile {
  background-image: url("/images/pornstars/big-images/Janet_Mason.jpg"); }

.jenna-jameson-big-profile {
  background-image: url("/images/pornstars/big-images/Jenna_Jameson.jpg"); }

.jenna-presley-big-profile {
  background-image: url("/images/pornstars/big-images/Jenna_Presley.jpg"); }

.jada-fire-big-profile {
  background-image: url("/images/pornstars/big-images/Jada_Fire.jpg"); }

.jynx-maze-big-profile {
  background-image: url("/images/pornstars/big-images/Jynx_Maze.jpg"); }

.jynx-maze-big-profile {
  background-image: url("/images/pornstars/big-images/Jynx_Maze.jpg"); }

.kagney-linn-karter-big-profile {
  background-image: url("/images/pornstars/big-images/Kagney_Linn_Karter.jpg"); }

.katie-kox-big-profile {
  background-image: url("/images/pornstars/big-images/Katie_Kox.jpg"); }

.kendra-lust-big-profile {
  background-image: url("/images/pornstars/big-images/Kendra_Lust.jpg"); }

.lisa-ann-big-profile {
  background-image: url("/images/pornstars/big-images/Lisa_Ann.jpg"); }

.nikki-benz-big-profile {
  background-image: url("/images/pornstars/big-images/Nikki_Benz.jpg"); }

.natalia-starr-big-profile {
  background-image: url("/images/pornstars/big-images/Natalia_Starr.jpg"); }

.madison-ivy-big-profile {
  background-image: url("/images/pornstars/big-images/Madison_Ivy.jpg"); }

.nicole-aniston-big-profile {
  background-image: url("/images/pornstars/big-images/Nicole_Aniston.jpg"); }

.phoenix-marie-big-profile {
  background-image: url("/images/pornstars/big-images/Phoenix_Marie.jpg"); }

.rachel-starr-big-profile {
  background-image: url("/images/pornstars/big-images/Rachel_Starr.jpg"); }

.remy-lacroix-big-profile {
  background-image: url("/images/pornstars/big-images/Remy_LaCroix.jpg"); }

.sasha-grey-big-profile {
  background-image: url("/images/pornstars/big-images/Sasha_Grey.jpg"); }

.silvia-saint-big-profile {
  background-image: url("/images/pornstars/big-images/Silvia_Saint.jpg"); }

.sophie-dee-big-profile {
  background-image: url("/images/pornstars/big-images/Sophie_Dee.jpg"); }

.shyla-stylez-big-profile {
  background-image: url("/images/pornstars/big-images/Shyla_Stylez.jpg"); }

.sexy-vanessa-big-profile {
  background-image: url("/images/pornstars/big-images/Sexy_Vanessa.jpg"); }

.tanya-tate-big-profile {
  background-image: url("/images/pornstars/big-images/Tanya_Tate.jpg"); }

.tera-patrick-big-profile {
  background-image: url("/images/pornstars/big-images/Tera_Patrick.jpg"); }

.julia-ann-profile-photo {
  background-image: url("/images/pornstars/profile-small/Julia_Ann.jpg"); }

.nina-hartley-profile-photo {
  background-image: url("/images/pornstars/profile-small/Nina_Hartley.jpg"); }

.aletta-ocean-profile-photo {
  background-image: url("/images/pornstars/profile-small/Aletta_Ocean.jpg"); }

.asa-akira-profile-photo {
  background-image: url("/images/pornstars/profile-small/Asa_Akira.jpg"); }

.ava-addams-profile-photo {
  background-image: url("/images/pornstars/profile-small/Ava_Addams.jpg"); }

.alexis-texas-profile-photo {
  background-image: url("/images/pornstars/profile-small/Alexis_Texas.jpg"); }

.amy-anderssen-profile-photo {
  background-image: url("/images/pornstars/profile-small/Amy_Anderssen.jpg"); }

.ariella-ferrera-profile-photo {
  background-image: url("/images/pornstars/profile-small/Ariella_Ferrera.jpg"); }

.brianna-beach-profile-photo {
  background-image: url("/images/pornstars/profile-small/Brianna_Beach.jpg"); }

.brandi-love-profile-photo {
  background-image: url("/images/pornstars/profile-small/Brandi_Love.jpg"); }

.briana-banks-profile-photo {
  background-image: url("/images/pornstars/profile-small/Briana_Banks.jpg"); }

.casey-calvert-profile-photo {
  background-image: url("/images/pornstars/profile-small/Casey_Calvert.jpg"); }

.capri-cavanni-profile-photo {
  background-image: url("/images/pornstars/profile-small/Capri_Cavanni.jpg"); }

.deauxma-profile-photo {
  background-image: url("/images/pornstars/profile-small/Deauxma.jpg"); }

.diana-doll-profile-photo {
  background-image: url("/images/pornstars/profile-small/Diana_Doll.jpg"); }

.eva-notty-profile-photo {
  background-image: url("/images/pornstars/profile-small/Eva_Notty.jpg"); }

.janet-mason-profile-photo {
  background-image: url("/images/pornstars/profile-small/Janet_Mason.jpg"); }

.jenna-jameson-profile-photo {
  background-image: url("/images/pornstars/profile-small/Jenna_Jameson.jpg"); }

.jenna-presley-profile-photo {
  background-image: url("/images/pornstars/profile-small/Jenna_Presley.jpg"); }

.jada-fire-profile-photo {
  background-image: url("/images/pornstars/profile-small/Jada_Fire.jpg"); }

.jynx-maze-profile-photo {
  background-image: url("/images/pornstars/profile-small/Jynx_Maze.jpg"); }

.kagney-linn-karter-profile-photo {
  background-image: url("/images/pornstars/profile-small/Kagney_Linn_Karter.jpg"); }

.katie-kox-profile-photo {
  background-image: url("/images/pornstars/profile-small/Katie_Kox.jpg"); }

.kendra-lust-profile-photo {
  background-image: url("/images/pornstars/profile-small/Kendra_Lust.jpg"); }

.lisa-ann-profile-photo {
  background-image: url("/images/pornstars/profile-small/Lisa_Ann.jpg"); }

.madison-ivy-profile-photo {
  background-image: url("/images/pornstars/profile-small/Madison_Ivy.jpg"); }

.nikki-benz-profile-photo {
  background-image: url("/images/pornstars/profile-small/Nikki_Benz.jpg"); }

.natalia-starr-profile-photo {
  background-image: url("/images/pornstars/profile-small/Natalia_Starr.jpg"); }

.nicole-aniston-profile-photo {
  background-image: url("/images/pornstars/profile-small/Nicole_Aniston.jpg"); }

.phoenix-marie-profile-photo {
  background-image: url("/images/pornstars/profile-small/Phoenix_Marie.jpg"); }

.rachel-starr-profile-photo {
  background-image: url("/images/pornstars/profile-small/Rachel_Starr.jpg"); }

.remy-lacroix-profile-photo {
  background-image: url("/images/pornstars/profile-small/Remy_LaCroix.jpg"); }

.sasha-grey-profile-photo {
  background-image: url("/images/pornstars/profile-small/Sasha_Grey.jpg"); }

.silvia-saint-profile-photo {
  background-image: url("/images/pornstars/profile-small/Silvia_Saint.jpg"); }

.sophie-dee-profile-photo {
  background-image: url("/images/pornstars/profile-small/Sophie_Dee.jpg"); }

.shyla-stylez-profile-photo {
  background-image: url("/images/pornstars/profile-small/Shyla_Stylez.jpg"); }

.sexy-vanessa-profile-photo {
  background-image: url("/images/pornstars/profile-small/Sexy_Vanessa.jpg"); }

.tanya-tate-profile-photo {
  background-image: url("/images/pornstars/profile-small/Tanya_Tate.jpg"); }

.tera-patrick-profile-photo {
  background-image: url("/images/pornstars/profile-small/Tera_Patrick.jpg"); }

.pornstar-nickname {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding: 9px;
  font-family: 'Play', sans-serif;
  background: rgba(0, 0, 0, 0.94);
  border-radius: 10px 10px 0 0;
  border: 3px solid #660000;
  margin: 0; }

.description-paragraph {
  margin: 6px 0; }

.pornstar-controls {
  padding: 14px;
  background: black;
  font-size: 0; }

.rating-container {
  display: inline-block; }

.rating-text {
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: 'Play', sans-serif; }

.current-user-rating {
  display: inline-block;
  width: 40px;
  text-align: center;
  margin: 0px auto; }

.subscribe-pornstar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.94);
  color: white;
  border: none;
  font-family: 'Play', sans-serif;
  border-radius: 0 0 6px 6px;
  font-size: 18px;
  padding: 3px 0;
  cursor: pointer; }

.rating-stars {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px; }

.rating-container-left {
  margin-right: 35px; }

.comments-button-container {
  padding: 10px;
  text-align: center; }

.comments-button {
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 18px;
  border-radius: 17px;
  padding: 8px;
  border: none;
  background: #E6033C;
  cursor: pointer; }

.bronze-rate {
  color: #96450a; }

.silver-rate {
  color: silver; }

.gold-rate {
  color: gold; }

.subscribe-pornstar:hover {
  background: #E6033C;
  opacity: 0.94; }

.header {
  font-weight: bold;
  text-align: center;
  padding: 7px;
  margin: 0 0 9px 0;
  font-size: 26px;
  font-family: 'Play', sans-serif;
  color: white; }

.comment-controls {
  width: 80%;
  margin: 60px auto 90px auto;
  box-shadow: 3px 3px 5px 2px #000;
  border: 2px solid black;
  border-radius: 5px;
  position: relative; }

.user-action-background {
  background-size: cover;
  background: url("/images/pornstars/form-background.jpg");
  border: 0.1px solid transparent;
  max-height: 580px;
  min-height: 400px;
  overflow-y: auto;
  position: relative; }

.comments-tab {
  background: black;
  display: flex;
  justify-content: flex-end;
  font-size: 0;
  position: relative; }

.comment-option {
  border: none;
  padding: 7px 14px;
  color: white;
  font-size: 16px;
  font-family: 'Play', sans-serif;
  cursor: pointer;
  position: relative;
  z-index: 2; }

.square-decoration {
  width: 30px;
  height: 30px;
  background: #660000;
  transform: rotate(45deg);
  position: absolute;
  right: 190px;
  top: 10px;
  z-index: 1; }

.comment-option-inactive {
  background: #02052B; }

.comment-option-active {
  background: #660000; }

.user-message {
  width: 100%;
  margin: 6px auto;
  resize: vertical;
  display: block;
  border-radius: 5px;
  height: 190px;
  background: rgba(0, 0, 0, 0.9);
  color: #C6C6C6;
  font-size: 19px; }

.nick-label {
  display: inline-block;
  width: calc(100% - 115px);
  min-width: 250px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  color: #C6C6C6;
  height: 30px;
  font-family: 'Lalezar', sans-serif;
  padding-left: 5px;
  font-size: 20px;
  border: 1px solid darkgray; }

.form-bottom-controls {
  position: relative; }

.controls-group {
  width: 95%;
  margin: 0 auto;
  position: relative; }

.user-nick {
  width: calc(100% - 100px);
  background: transparent;
  border: none;
  padding-left: 5px;
  height: 23px;
  font-size: 19px;
  color: #C6C6C6; }

.user-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  top: -30px;
  left: -30px;
  z-index: 2; }

.label-user-opinion {
  font-family: 'Play', sans-serif;
  font-size: 28px;
  padding-left: 25px;
  color: #C6C6C6;
  background: rgba(0, 0, 0, 0.8);
  display: block; }

.submit-comment {
  font-size: 17px;
  border-radius: 6px;
  color: white;
  padding: 4px 12px;
  background: #660000;
  border: none;
  font-family: 'Play', sans-serif;
  cursor: pointer; }

.porn-empire-footer {
  background: #212121; }

.comments-container {
  margin: 20px auto;
  width: 60%;
  min-width: 280px;
  display: none; }

.single-comment {
  border: 2px solid black;
  box-shadow: 2px 2px 2px 1px black;
  margin-bottom: 14px; }

.comment-header {
  background: rgba(66, 0, 0, 0.92);
  font-family: 'Play', sans-serif;
  color: white;
  font-size: 20px;
  position: relative;
  padding: 3px 10px; }

.user-avatar-small {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 3px;
  object-fit: contain;
  vertical-align: middle; }

.comment-body {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 17px;
  font-family: 'Play', sans-serif;
  padding: 5px; }

.cover-comments-canvas {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.93);
  width: 100%;
  top: 0;
  z-index: 3; }

.ajax-loading-icon {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4; }

.more-comments-button {
  border: none;
  font-size: 18px;
  color: white;
  padding: 7px;
  border-radius: 7px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background: black; }

.comment-date {
  font-size: 12px;
  margin-left: 8px;
  vertical-align: middle; }

.more-comments-button:hover {
  transition: background 2s;
  background: #E6033C; }

.purple-rate {
  color: #E6033C; }

@media only screen and (max-width: 900px) {
  .pornstar-information-container {
    bottom: 80px; } }
@media only screen and (max-width: 980px) {
  .rating-container {
    display: block;
    text-align: center; }

  .rating-container-left {
    margin: 2px 0 8px 0; } }
@media only screen and (max-width: 600px) {
  .pornstar-image-small {
    float: none;
    margin: 8px auto 4px auto; }

  .pornstar-information-header, .pornstar-section-header {
    text-align: center; } }
@media only screen and (max-width: 560px) {
  .nick-label {
    display: block;
    width: 100%; }

  .submit-comment {
    display: block;
    width: 100%;
    margin-bottom: 6px; } }
@media only screen and (max-width: 490px) {
  .rating-text {
    display: block;
    padding: 3px; } }
@media only screen and (max-width: 420px) {
  .pornstar-information-container {
    bottom: 40px;
    width: 100%; }

  .comment-controls {
    width: 95%; }

  .user-avatar {
    display: none; } }
@media only screen and (min-width: 1137px) {
  .movies-container {
    width: 1024px; } }
@media only screen and (min-width: 853px) and (max-width: 1136px) {
  .movies-container {
    width: 768px; } }
@media only screen and (min-width: 569px) and (max-width: 852px) {
  .movies-container {
    width: 512px; } }
@media only screen and (max-width: 568px) {
  .movies-container {
    width: 256px; } }

/*# sourceMappingURL=pornstar-profile.css.map */
