* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #212121;
  max-width: 1400px; }

.dark-canvas {
  display: none;
  background: black;
  opacity: 0.75;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 5;
  top: 0; }

.main_nav {
  background: black;
  box-shadow: 0px 0px 5px 4px #000;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 4px;
  z-index: 4; }

.action_list_main {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 0;
  overflow: hidden;
  background: black; }

.navigation-link {
  text-decoration: none;
  color: gray; }

.navigation-link:active {
  color: gray; }

.navigation-link:hover {
  transition: color 2s;
  color: white;
  text-decoration: none; }

.action_option_main {
  display: inline;
  text-transform: uppercase;
  color: gray;
  font-family: 'Monda', sans-serif;
  font-size: 1.7vw; }

.action_option_main:hover {
  transition: color 2s;
  color: white;
  cursor: pointer; }

.empire-logo {
  width: 170px;
  height: auto;
  position: relative;
  right: 15px;
  top: 2px; }

.empire-logo-small {
  display: none;
  margin-top: 4px; }

.vertical-separator {
  width: 2px;
  background-color: #333;
  border-left: 2px solid #2F2F2F;
  display: inline-block;
  height: 2.3vw;
  margin: 0 10px; }

.navbar-button {
  background: black;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0; }

@media only screen and (max-width: 600px) {
  .decoration-images-container {
    height: 250px; } }
@media only screen and (max-width: 580px) {
  .empire-logo {
    display: none; }

  .empire-logo-small {
    display: block; }

  .action_option_main {
    font-size: 2.7vw; } }
@media only screen and (max-width: 450px) {
  .vertical-separator {
    height: 3.8vw;
    margin: 0 4px; } }
.porn-empire-footer {
  background: black;
  text-align: center;
  border-top: 1px solid #660000;
  border-bottom: 1px solid #660000;
  margin-bottom: 30px;
  font-family: 'Play', sans-serif; }

.footer-contact-data {
  padding: 4px; }

.footer-link:hover {
  text-decoration: underline; }

.footer-link:visited {
  color: white; }

.footer-link:active {
  color: white; }

.cybertron-copyrights {
  padding: 8px;
  font-size: 25px;
  color: white; }

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 21px; }

.most-popular-categories {
  background: rgba(0, 0, 0, 0.91);
  position: absolute;
  border-radius: 4px;
  font-size: 0;
  display: none;
  height: 0;
  z-index: 3;
  margin: 0 auto; }

.categories-info {
  font-family: 'Monda', sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 4px;
  text-transform: uppercase; }

.categories-list {
  margin: 0;
  padding: 0; }

.category-list-element {
  display: inline-block; }

.horizontal-separator {
  height: 1px;
  background-color: #555; }

.category-image-all {
  border-radius: 7px;
  display: inline-block;
  margin: 8px 4px 2px;
  width: 100px;
  height: 100px;
  border: 1px solid silver;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.category-image-all:hover {
  transition: 2.5s 1s transform, 0s 1s z-index;
  transform: scale(1.4);
  border: 1px solid red;
  z-index: 99; }

.category-description {
  text-align: center;
  font-size: 13px;
  font-family: "Monda",sans-serif;
  background: rgba(0, 0, 0, 0.5);
  line-height: 13px;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0px;
  border-radius: 0 0 4px 4px; }

.categories-all {
  color: white;
  text-decoration: none; }

.categories-all:hover {
  text-decoration: underline; }

.anal {
  background-image: url("/images/decoration/categories/anal.jpg"); }

.amateur {
  background-image: url("/images/decoration/categories/amateur.jpg"); }

.asian {
  background-image: url("/images/decoration/categories/asian.jpg"); }

.blondes {
  background-image: url("/images/decoration/categories/blondes.jpg"); }

.brunettes {
  background-image: url("/images/decoration/categories/brunettes.jpg"); }

.bukkake {
  background-image: url("/images/decoration/categories/bukkake.jpg"); }

.czech {
  background-image: url("/images/decoration/categories/czech.jpg"); }

.big-titts {
  background-image: url("/images/decoration/categories/big-titts.jpg"); }

.gangbang {
  background-image: url("/images/decoration/categories/gangbang.jpg"); }

.group {
  background-image: url("/images/decoration/categories/group.jpg"); }

.japanese {
  background-image: url("/images/decoration/categories/japanese.jpg"); }

.lesbians {
  background-image: url("/images/decoration/categories/lesbians.jpg"); }

.blowjob {
  background-image: url("/images/decoration/categories/blowjob.jpg"); }

.public {
  background-image: url("/images/decoration/categories/public.jpg"); }

.latin {
  background-image: url("/images/decoration/categories/latinas.jpg"); }

.milf {
  background-image: url("/images/decoration/categories/milfs.jpg"); }

.ebony {
  background-image: url("/images/decoration/categories/ebony.jpg"); }

.teacher {
  background-image: url("/images/decoration/categories/teacher.jpg"); }

.cumshot-compilation {
  background-image: url("/images/decoration/categories/cumshot-compilation.jpg"); }

.tittfuck {
  background-image: url("/images/decoration/categories/tittfuck.jpg"); }

.solo-woman {
  background-image: url("/images/decoration/categories/solo-woman.jpg"); }

.teens {
  background-image: url("/images/decoration/categories/teens.jpg"); }

.glasses {
  background-image: url("/images/decoration/categories/glasses.jpg"); }

.POV {
  background-image: url("/images/decoration/categories/POV.jpg"); }

.cum-swallow {
  background-image: url("/images/decoration/categories/cum-swallow.jpg"); }

.nurse {
  background-image: url("/images/decoration/categories/nurses.jpg"); }

.pantyhose {
  background-image: url("/images/decoration/categories/pantyhose.jpg"); }

.russian {
  background-image: url("/images/decoration/categories/russian.jpg"); }

.redhead {
  background-image: url("/images/decoration/categories/redhead.jpg"); }

.spycam {
  background-image: url("/images/decoration/categories/spycam.jpg"); }

.polish {
  background-image: url("/images/decoration/categories/polish.jpg"); }

.big-cock {
  background-image: url("/images/decoration/categories/big-cock.jpg"); }

.cum-on-face {
  background-image: url("/images/decoration/categories/cum-on-face.jpg"); }

.creampie {
  background-image: url("/images/decoration/categories/creampie.jpg"); }

.handjob {
  background-image: url("/images/decoration/categories/handjob.jpg"); }

.login-container {
  width: 350px;
  border-radius: 8px;
  border: 2px solid silver;
  background: #212121;
  font-size: 0;
  display: none;
  position: fixed;
  z-index: 6;
  opacity: 0; }

.close-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
  overflow: hidden;
  color: transparent;
  background: url("/images/controls/close.svg") no-repeat center;
  background-size: cover; }

.close-icon-container {
  padding: 4px 7px;
  background: black;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  justify-content: flex-end; }

.user-input {
  width: calc(100% - 70px);
  background: black;
  border: none;
  color: white;
  font-size: 17px;
  padding-left: 4px; }

.user-input:focus {
  outline: none; }

.submit-button {
  background: linear-gradient(#0bdf0b, #2f8804); }

.submit-button:hover {
  background: #CAE009;
  transition: background 1s; }

.register {
  background: linear-gradient(#FA0511, #AD0205);
  text-decoration: none; }

.register:hover {
  background: #D10722;
  transition: background 1s; }

.user-account-action {
  width: 95%;
  display: block;
  margin: 9px auto;
  color: white;
  font-size: 22px;
  font-family: 'Lalezar', sans-serif;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 2px 2px black; }

.user-input-label {
  border-radius: 3px;
  border: 2px solid gray;
  display: block;
  width: 95%;
  margin: 10px auto;
  color: #C6C6C6;
  font-family: 'Lalezar', sans-serif;
  font-size: 20px;
  padding-left: 5px;
  background: black;
  box-shadow: 2px 2px 2px 2px black; }

body {
  background: url("/images/decoration/search.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh; }

input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 22px;
  height: 17px;
  display: inline-block;
  line-height: 17px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer; }

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -17px; }

label.css-label {
  background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_314a66eb1641f8832a7ada19bbf96697.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.info-icon {
  width: 23px;
  height: 23px;
  float: left; }

.pornstar-foto {
  display: block;
  margin: 4px auto 2px auto;
  width: 125px;
  height: 143px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #660000;
  border-radius: 3px; }

.additional-options-checkbox {
  margin-right: 5px; }

.reset-input {
  background: red; }

.submit-input {
  background: #2AE609; }

.control-input {
  border-radius: 5px;
  padding: 2px 8px;
  font-family: 'Play', sans-serif;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer; }

.user-info {
  padding: 0 5px 8px 5px; }

.advanced-search {
  width: 95%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.controls-header {
  text-align: center;
  padding: 5px;
  border-radius: 7px 7px 0px 0px;
  background: rgba(62, 18, 18, 0.78); }

.controls-group {
  border-radius: 7px;
  font-family: 'Play', sans-serif;
  color: white;
  box-shadow: 2px 2px 2px 2px black;
  border: 1px solid silver;
  margin-bottom: 7px; }

.controls {
  background: rgba(0, 0, 0, 0.9);
  padding: 6px;
  border-radius: 0 0 7px 7px;
  font-size: 14px; }

.controls-layer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  min-height: 19px; }

.controls-layer-top {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  min-height: 19px; }

.controls-column {
  width: 32%; }

.select-controls {
  width: 120px;
  border-radius: 3px;
  background: black;
  color: white; }

.red-separator {
  height: 2px;
  background-color: red;
  box-shadow: 1px 1px 6px 0px red;
  margin: 6px 0; }

.hidden-control {
  display: none; }

.toys-layer {
  padding: 5px 0px; }

.pornstars-container {
  min-width: 130px; }

.top-control {
  width: 50%; }

.top-select {
  display: block;
  width: 94%;
  margin: 0 auto;
  background: black;
  color: white;
  border-radius: 3px; }

.porn-empire-footer {
  background: rgba(0, 0, 0, 0.95); }

@media only screen and (max-width: 1000px) {
  .advanced-search {
    width: 100%; } }
@media only screen and (max-width: 890px) {
  .advanced-search {
    width: 100%; }

  body {
    background-image: url("/images/decoration/search-2.jpg"); }

  .column-1, .column-3 {
    width: 45%; }

  .column-2 {
    width: 60%; }

  .column-1 {
    order: 1; }

  .column-3 {
    order: 1; }

  .column-2 {
    order: 2; } }
@media only screen and (max-width: 640px) {
  .controls-column {
    width: 70%; }

  .column-3 {
    order: 2; }

  .column-1 {
    order: 1; }

  .column-2 {
    order: 1; } }
@media only screen and (max-width: 470px) {
  .controls-column {
    width: 98%; } }

/*# sourceMappingURL=search-panel.css.map */
